<configuration>
  <system.webServer>
    <httpErrors>
      <remove subStatusCode="-1" statusCode="500" />
      <remove subStatusCode="-1" statusCode="404" />
      <error prefixLanguageFilePath="" path="/errors//http-error.cgi?500=1" responseMode="ExecuteURL" statusCode="500" />
      <error prefixLanguageFilePath="" path="/errors//http-error.cgi?404=1" responseMode="ExecuteURL" statusCode="404" />
    </httpErrors>
    <staticContent>
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>   
  </system.webServer>
</configuration>
